<!DOCTYPE html>
<html>
  <head>
    <title>Yanagi MMD Preview Generator Desktop</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/materialize.css">
        
    <style>
    
      /* fallback */
      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url(assets/font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }

      .customPadding{
        padding-left: 10%; 
        padding-right: 10%;
        padding-top: 10px;
        margin-bottom: 0px;
      }

      .customPadding2 {
        padding-left: 10%; 
        padding-right: 10%;
      }

      body {
        /*background: url('assets/img/bg2.jpg');*/
        background: url('assets/img/bg.png');
        background-repeat: repeat;
        background-size : 100%;
        color:  grey;
        overflow: auto;
        font-family: 微軟正黑體;
      }

      .tabs-content.carousel.carousel-slider .carousel-item.active{
          position: relative;
      }

      .inputHidden{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        position: absolute;
        z-index: 999;
        top: 50px;
        opacity: 1;
      }

      .opacTransiion {
        transition-property: opacity 0.5s ease-in-out;
        opacity: 1;
      }

      .opacTransiion.opacTransitionToggle {
        opacity: 0;
        transition-property: opacity 0.5s ease-in-out;
      }

      .file-upload > input {
        display: none;
      }

      .uploadBtn {
        background: url(assets/img/bg.png);
        opacity: .25;
      }

      .uploadBtn:hover {
        opacity: 1;
        transition: 0.5s ease-in-out;
        background-color: white;
      }

    </style>

  </head>
  <!--<body style="height: -webkit-fill-available; overflow: hidden;">-->
  <body style="height: -webkit-fill-available; "></body>
    <div class="row">
      <ul id="tabs-swipe-demo" class="tabs" style="opacity: 0.75">
        <li class="tab col s4" id="otherTab"><a href="#test-swipe-4" class="active" id="homeStr">Home</a></li>
        <li class="tab col s4" id="generateTab"><a href="#test-swipe-1">Generate Previews</a></li>
        <li class="tab col s4" id="collectionTab"><a href="#test-swipe-2">View Collections</a></li>
      </ul>
    </div>


      <div id="test-swipe-4"  class="row s12">
        <div class="card row col s6 offset-s3" style="margin-top: 19px">
          <div class="card-image waves-effect waves-block waves-light">
            <div id="glCanvasDiv"></div> 
            <img class="activator" id="HomeImg" src="assets/img/generator.png" style="display: none;">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4" id="HomeTitle"style="text-align: center;">MMD Preview Generator</span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">MMD Preview Generator Desktop</span>
            <hr>
            <p></p>
            <p> - Desktop Solution for MMDPreviewGenerator -</p>
            <p>Version: <span id="version"></span></p>
            <p>Powered By Node.js & Electron</p>
            <hr>
            <p>By <a id="scihubLink">Yanagiragi</a></p>
          </div>
        </div>            
      </div>
    
      <div id="DelayHolder" style="display: none;">
      <div id="test-swipe-1">
        <div class="customPadding row opacTransiion" id="generateInput">
            <h6 style="padding: 10px; padding-bottom: 5px;">Inputs</h6>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s11">
                  <input id="generatePath" placeholder="D:\Sources\Models\Pmx\" type="text" class="validate" value="C:\Temp">
                  <label for="generatePath">Folder Path</label>
                </div>

                <div class="input-field col uploadBtn" style="margin-left: -50px; margin-top: 25px; z-index: 998; width: 38px;">
                  <div class="file-upload">
                    <label for="generateFileInput">
                      <i class="material-icons">cloud_upload</i>
                    </label>
                    <input id="generateFileInput" type="file" webkitdirectory directory/>
                  </div>
                </div>
                
                <a class="btn-floating btn-small waves-effect waves-light" style="margin-top: 20px; margin-left: 5px;" id="submitGenerate">
                  <i class="material-icons">send</i>
                </a>
              </div>
            </form>
        </div>
        <div class="customPadding row inputHidden" id="generateInputHidden">
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <div class="customPadding2 opacTransiion" id="generateResult">
            <h6 style="padding: 10px;">Results: {{ status }} </h6>
              <ul class="collapsible collection" data-collapsible="accordion">
                  <li v-for="(singleContainer, index) in containers">
                    <div class="collapsible-header">
                      <i class="material-icons">filter_drama</i>
                      {{ containersName[index] }}
                      <span class="badge">
                        {{ singleContainer.length }}
                      </span>
                    </div>
                    <div class="collapsible-body">
                      <ul class="collection">
                        <li v-for="modelData in singleContainer">
                            {{ modelData.path }}
                        </li>
                        <li v-if="singleContainer.length === 0">
                            __ No Data __
                        </li>
                      </ul>
                    </div>
                  </li>
              </ul>
        </div>
      </div>

      <div id="test-swipe-2">
          <div class="customPadding row opacTransiion" id="collectionInput">
              <h6 style="padding: 10px; padding-bottom: 5px;">Inputs</h6>
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s11">
                    <input id="collectionPath" placeholder="D:\Sources\Models\Pmx\" type="text" class="validate" value="C:\Temp">
                    <label for="collectionPath">Folder Path</label>
                  </div>
  
                  <div class="input-field col uploadBtn" style="margin-left: -50px; margin-top: 25px; z-index: 998; width: 38px;">
                    <div class="file-upload">
                      <label for="collectionFileInput">
                        <i class="material-icons">cloud_upload</i>
                      </label>
                      <input id="collectionFileInput" type="file" webkitdirectory directory/>
                    </div>
                  </div>
                  
                  <a class="btn-floating btn-small waves-effect waves-light" style="margin-top: 20px; margin-left: 5px;" id="submitCollection">
                    <i class="material-icons">send</i>
                  </a>
                </div>
              </form>
          </div>
          <div class="customPadding row inputHidden" id="collectionInputHidden">
              <div class="progress">
                  <div class="indeterminate"></div>
              </div>
          </div>
          <div class="customPadding2 opacTransiion" id="collectionResult">
            <h6 style="padding: 10px;">Results: {{ status }} </h6>
            
            <ul class="pagination" v-if="collections.length !== 0" style="text-align: center;">
              <li class="waves-effect" v-on:click="passIndex(currentIndex - 1)"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li v-if="leastIndex != 0">...</li>
              
              <li v-for="(n, index) in (mostIndex - leastIndex)" class="waves-effect" v-bind:class="{ active: (index + leastIndex) === currentIndex }" v-on:click="passIndex(index + leastIndex)">
                <a href="#!" style="font-size: 14px;"> {{ leastIndex + index + 1 }} </a>
              </li>
              
              <li  v-if="mostIndex != parseInt((this.collections.length + this.indexPerPage - 1)/ this.indexPerPage)">...</li>
              <li class="waves-effect" v-on:click="passIndex(currentIndex + 1)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
            
            <div class="row">
              <div v-if="collections.length !== 0" v-for="(n, index) in indexPerPage" class="col s12 m4">
                <div class="card" v-if="(indexPerPage * currentIndex + index) < collections.length" :key="indexPerPage * currentIndex + index">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" v-bind:src="collections[(indexPerPage * currentIndex + index)].preview">
                  </div>
                  <div class="card-content">
                    <div class="card-title activator grey-text text-darken-4" style="font-size: 20px; height: 32px; text-overflow: ellipsis; overflow: hidden;">
                      {{ collections[(indexPerPage * currentIndex + index)].name }}
                    </div>					  
                  </div>
                  <div class="card-reveal">
                    <div class="card-title grey-text text-darken-4" style="font-size: 16px; font-weight: bold; text-overflow: ellipsis; overflow: hidden;">
                      {{ collections[(indexPerPage * currentIndex + index)].name }}
                    </div>
                    <div style="width: 80%; word-wrap: break-word;">
                        <br>{{ collections[(indexPerPage * currentIndex + index) ].path }}<br><br>{{ collections[(indexPerPage * currentIndex + index)].preview }}
                    </div>
                  </div>      
                </div>	
              </div>
              <div v-if="collections.length === 0">
                <div v-for="d in 3" class="col s12 m4">
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="assets/img/hakuTransparent.png">
                    </div>
                    <div class="card-content">
                      <div class="card-title activator grey-text text-darken-4" style="height: 32px; text-overflow: ellipsis; overflow: hidden;">
                        {{ ['This', 'Is', 'Placeholder'][d - 1] }}
                      </div>					  
                    </div>
                    <div class="card-reveal">
                      <div class="card-title grey-text text-darken-4"  style="font-size: 16px; font-weight: bold; text-overflow: ellipsis; overflow: hidden;">
                          __ No Data __{{ d }}
                      </div>
                      <div style="width: 80%; word-wrap: break-word;">
                          <br> __ No Data __{{ d }}<br><br> __ No Data __{{ d }}
                      </div>
                    </div>      
                  </div>	
                </div>
              </div>
            </div>
        </div>
      </div>

    </div> <!-- end of  <div style="height: -webkit-fill-available;">-->
    
    <script src="assets/js/hammer.min.js" onload="window.Hammer = module.exports;"></script>
    <script src="assets/js/jquery-3.3.1.js"></script>
    
    <!-- Compiled and minified JavaScript -->
    <script src="assets/js/materialize.js"></script>
    <script src="assets/js/vue.min.js"></script>

    <script type="text/javascript">

      const currentBuildOption = require('./config').getOption()
      const version = require('./config').getVersion()

      $(document).ready(function(){
        
        $('#DelayHolder').css('display', '')

        $('.tabs').tabs( {
          duration : 500,
          swipeable: false
        });

        $('.collapsible').collapsible();
        
        $(".tabs-content").css('height','');
        $(".tabs-content").css('overflow', 'hidden');

        // Disable Hiddle Blocks
        $('#generateInputHidden').css('display', 'none');
        $('#collectionInputHidden').css('display', 'none');
        
        $('#generateFileInput').on("change", function(event){
            if(document.getElementById('generateFileInput').files[0]){
              $('#generatePath').val(`${document.getElementById('generateFileInput').files[0].path}`);
            }
        })

        $('#collectionFileInput').on("change", function(event){
            if(document.getElementById('collectionFileInput').files[0]){
              $('#collectionPath').val(`${document.getElementById('collectionFileInput').files[0].path}`);
            }
        })

        if(currentBuildOption.isPhD){
          $('#HomeImg').css('display', 'none')
          $('#HomeTitle').text('Welcome, Yanagi')
        }
        else{
          $('#HomeImg').css('display', '')
        }

        $('#version').text(version)
      });

      $(document).keypress((event) => {
          if (event.which == '13') {
            // Disable "Enter" Key For Form
            event.preventDefault();
          }
      });      

      const ipc = require('electron').ipcRenderer
      const { shell } = require('electron')

      $('#submitGenerate').click((event) => {
        
        console.log('submit Generate')
        
        let path = $('#generatePath').val()

        $('#generateInputHidden').css('display', 'block')        
        $('#generatePath').css('opacity', '0.2')
        $('#generateResult').toggle('opacTransitionToggle')

        $('#otherTab').addClass("disabled")
        $('#generateTab').addClass("disabled")
        $('#collectionTab').addClass("disabled")
        
        ipc.send('generate', path)
        
        M.toast({html: 'Start Generate: ' + path, displayLength: Infinity})

      })

      ipc.on('generateDone', function (event, args) {
        
        console.log('Generate Done')
        
        $('#generatePath').css('opacity', '1')
        $('#generateInputHidden').css('display', 'none')
        
        $('#generateFileInput').val('')
        $('#generatePath').val('')
        
        $('#otherTab').removeClass("disabled")
        $('#generateTab').removeClass("disabled")
        $('#collectionTab').removeClass("disabled")
        
        if(args.stat){
          generateVue.status = 'Succeed'
          generateVue.containers = args.msg;
        }
        else{
          generateVue.status = `Failed, ${args.msg}`
          generateVue.containers = [[],[],[],[]];
        }

        $('#generateResult').toggle('opacTransitionToggle')

        M.Toast.dismissAll();
      })

      $('#submitCollection').click((event) => {
        
        console.log('submit Collection')
        
        let path = $('#collectionPath').val()

        $('#collectionInputHidden').css('display', 'block')        
        $('#collectionPath').css('opacity', '0.2')
        $('#collectionResult').toggle('opacTransitionToggle')

        $('#otherTab').addClass("disabled")
        $('#generateTab').addClass("disabled")
        $('#collectionTab').addClass("disabled")
        
        ipc.send('collection', path)
        
        M.toast({html: 'Start Collection: ' + path, displayLength: Infinity})

      })

      ipc.on('collectionDone', function (event, args) {
        
        console.log('Collection Done')
        
        $('#collectionPath').css('opacity', '1')
        $('#collectionInputHidden').css('display', 'none')
        
        $('#collectionFileInput').val('')
        $('#collectionPath').val('')
        
        $('#otherTab').removeClass("disabled")
        $('#generateTab').removeClass("disabled")
        $('#collectionTab').removeClass("disabled")
        
        if(args.stat){
          collectionVue.status = 'Succeed'
          collectionVue.collections = args.msg;
        }
        else{
          collectionVue.status = `Failed, ${args.msg}`
          collectionVue.collections = []
        }

        collectionVue.currentIndex = 0

        $('#collectionResult').toggle('opacTransitionToggle')

        M.Toast.dismissAll();
      })

      ipc.on('logs', function(event, args){
        console.log(`${args.type}: ${args.msg}`)
        let opts = {
          html: `<div style="font-size: 12px;">${args.msg}</div>`,
          displayLength: 1000 * 5
        }
        
        if(args.type == 'stdout'){
          opts.classes = 'rounded'
        }
        
         M.toast(opts)
      })

      $('#scihubLink').click(function(event){
        shell.openExternal('http://yanagiragi.github.io')
      })

      var generateVue = new Vue({
        el: '#generateResult',
        data: {
            status: 'null',
            containers : [[],[],[],[]],
            containersName : ['Skipped Models', 'Processed Success', 'ProcessFailed', 'PMD Models']
        }
      })

      var collectionVue = new Vue({
        el: '#collectionResult',
        data: {
            status: 'null',
            collections : [],
            currentIndex: -1,
            leastIndex: 0,
            mostIndex: 0,
            indexPerPage: 6,
            paginationPerPage: 15,
            paginationStride: 5
        },
        methods:
        {
          getFontSize : function(str){
					  var size = 16 - ((str.length - 10) / 4)
					  return `font-size: ${size}px;`
          },
          passIndex : function(idx){
            let limit = parseInt((this.collections.length + this.indexPerPage - 1)/ this.indexPerPage);
            this.currentIndex =  idx < 0 ? 0 : idx < limit ? idx : limit - 1 ;
          },
          updatePaginationIndexes : function()
          {
            let limit = parseInt((this.collections.length + this.indexPerPage - 1)/ this.indexPerPage);
            this.leastIndex = (this.currentIndex - this.paginationStride) > 0 ? (this.currentIndex - this.paginationStride) : 0;
            this.mostIndex = (this.leastIndex + this.paginationPerPage) > limit ? limit : (this.leastIndex + this.paginationPerPage);
            // Re-clamp leastIndex
            // Consider when you reach the end of the paginations
            // Without this clamp, the leastIndex will continues to minus with currentIndex increases
            // results in displayed pagination amount != (2 * paginationStride + 1)
            this.leastIndex = (this.mostIndex  - this.paginationPerPage) > 0 ? (this.mostIndex  - this.paginationPerPage) : 0;
          }
        },
        watch: {
          indexPerPage: function(val){
            this.updatePaginationIndexes()
          },
          currentIndex: function (val) {
            
            // clamp the range
            let limit = parseInt((this.collections.length + this.indexPerPage - 1)/ this.indexPerPage);
            val = val < 0 ? 0 : val >= limit ? limit - 1: val;
            
            // update once since updatePaginationIndexes need it
            this.currentIndex = val;
            this.updatePaginationIndexes();
            
            // Disable opened cards
            [...$('.card-reveal')].filter(x => $(x).css('display') === 'block').map(x => $(x).css('display', '').css('transform',''))
            
            // actual update to this.currentIndex
            return val
          },
          paginationPerPage: function (val) {
            this.paginationStride = parseInt((this.paginationPerPage - 1) / 2)
          }
        }
      })

    </script>
  </body>
</html>